*{
    margin: 0;
    padding: 0;
}
img{
  width: 250px;
  height: 250px;
}

header{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
}

footer{
width: 100%;
height: 200px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
header, footer { 
background-color :  rgb( 220,  220,  220 );
}

.section1{
background-color: yellowgreen;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

section:nth-of-type(2){
    display: flex;
    align-items: center;
}

#grid > div:hover {
    transition: .5s;
    transform: scale(1.1);
    
}
#grid > div:hover div:only-child{
transform: rotate(360deg);
transition: .3s;
transition-delay: .5s;
}

#grid div{
  transition: all .5s linear;
}

.section {
width: 100%;
height: 100vh;
font-size: 40px;
position: relative;

}


#section2{
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

#grid {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

#grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5)inset ;
  line-height: 150px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin: 15px;
 
 
 
}




h1{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
span:nth-child(2){
    display: none;
  }
span:nth-child(5){
    display: none;
  }
 a {
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: end;
    font-size: 40px;
}

html{
    scroll-behavior: smooth ;
}

#carre {
height: 300px;
width: 300px;
border: 1px solid black;
display:flex ;
justify-content:center ;
margin: 15px;

}

footer a {
  position: absolute;
  width: 100%;
  height: 100%;
}




@media (min-width: 400px){
  

#grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
padding: 10px;
text-align: center;
justify-content: center;
rotate: 360deg;
}
  
#grid div:first-child{
  grid-column-start: 3;
  grid-column-end:4 ;
}

#grid div:nth-child(2){
  grid-column: 2/ 3;
  grid-row:2 / 2;
}
#grid div:nth-child(3){
  grid-column: 4/ 5;
  grid-row:2 / 2;
}
#grid div:nth-child(4){
  grid-column: 1/ 2;
  grid-row:3 / 3;
}
#grid div:nth-child(5){
  grid-column: 3/ 4;
  grid-row:3 / 3;
}
#grid div:nth-child(6){
  grid-column: 5/ 5;
  grid-row:3 / 3;
}


}
#section1{
  display: flex;
  flex-direction: row;}

  
@media(min-width:768px) {
   span:nth-child(5){
    display: inline;
  }
  a {
    text-align: center;
}
#grid > div {
  margin: 0px;
}

@media (max-height:430px) {
#grid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

}
}